extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        
        h1 Evelyn Arevalo

        
        p Full Stack JavaScript Developer


        .about-bio

          
          p Growing up as a daughter of immigrant parents, there were many things I had to learn on my own. I always like to joke around that my first role was that of a teacher, teaching my parents how to speak English. I was the first to break many barriers, one being graduating college and traveling to far flung places, 28 countries and still counting. Being the first to break into tech. Then in April 2022, I was laid off and realized it was time to pivot and embrace my love for learning and technology by taking up the challenge to learn coding and here we are now. 



      .skills-contact-box.box
        h6 Skills

        
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        
        ul
          li 510-706-1996
          li evelynarevaloW@gmail.com

        
        a.btn-link(href='https://www.linkedin.com/in/evelyn-arevalo-887606136/') LinkedIn
        a.btn-link(href='https://github.com/evelynarevaloWw10') GitHub
        a.btn-link(href='https://twitter.com') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back